.img-pangolins3 {
    max-width: 100%;
}

.img-frog1 {
    max-width: 20%;
    padding: 4px;
    background-color: aqua;
}

.img-turtle1 {
    max-width: 20%;
    padding: 4px;
    background-color: aqua;
}