.img-pangolins3 {
    max-width: 100%;
}

.img-frog1 {
    max-width: 20%;
    padding: 4px;
    background-color: aqua;
}

.img-turtle1 {
    max-width: 20%;
    padding: 4px;
    background-color: aqua;
}

@media (min-width: 1100px) {

p {
    max-width: 250px;
margin-left: 420px;
}

}

@media (min-width: 1400px) {

p {
    margin-left: 550px;

}
    
}

@media (min-width: 1600px) {

p {
    margin-left: 800px;
    
}
        
}