.img-villrein1 {
    width: 80%;
    border: 2px solid #fff;
}

.img-gaupe1 {
    width: 100%;
    border: 2px solid #fff;
}

.img-piggsvinet1 {
    width: 100%;
    border: 2px solid #fff;
}

.img-ulv1 {
    width: 100%;
    border: 2px solid #fff;
}

@media (min-width: 1100px) {

.img-gaupe1, .img-piggsvinet1, .img-ulv1, .img-villrein1 {
    width: 50%;
}

}