input[type=text] {
    padding: 5px 10px;
    width: 90%;
}

input[type=email] {
    padding: 5px 10px;
    width: 90%;
}

#message {
    width: 90%;
    padding: 5px 10px;
    font-size: 0.7rem;
    color: darkgray;
    margin-top: 20px;
}

.submit-button {
    background-color: blueviolet;
    margin: 10px;
    padding: 5px 40px;
}

@media (min-width: 1100px) {

input[type=text] {
    width: 20%;
}
    
input[type=email] {
    width: 20%;
}

#message {
    width: 20%;
}

label {
    margin-bottom: 10px;
}

}