header {
    border: 2px solid #822503;
}

.img-pangolin {
    background-image: url("../images/img-pangolin.png");
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: #918181;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

main {
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    color: burlywood;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #822503;
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #000; 
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #000;
    border-radius: 50px;
}

.pangolin-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 360px;
}

footer {
    text-align: center;
    color: beige;
    font-size: 0.7rem;
}

@media (min-width: 425px) {

.img-container {
    grid-template-columns: repeat(4, 1fr);
}

}